@charset "UTF-8";

/*
    em HTML é id     = CSS é #
    em HTML é class  = CSS é .
*/
body {
    background-color: rgb(215, 243, 202);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(16, 71, 5);
}
#principal {
    text-align: center;
    background-color: rgb(2, 104, 7);
    color: white;
}
h2 {
    color: rgb(79, 161, 79);
}

.basico {
    color: rgb(6, 128, 6);
    font-weight: bold;
}
.intermediario {
    color: rgb(122, 122, 17);
}
.avancado {
    color: rgb(177, 40, 40);
}
.destaque {
    background-color: rgba(196, 196, 37, 0.644);
}